h1 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
  }  
  button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: #FFA500;
    color: white;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  } 
  button:hover {
    background-color: #FFC107;
  }  
  #result {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-top: 30px;
    color: #030000;
  }
